<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.css" media="screen">
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="main.js"></script>


<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body ng-app="myApp" ng-controller="myController">

	<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" style="height: 40px">
		<a class="navbar-brand" href="#">Farmers Insurance</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<span style="color: white">Find a Customer: </span> <input class="form-control mr-sm-2"
					name="txt_search_customer" type="search" placeholder="Policy # " ng-model="searchPolicyNumber"
					aria-label="Search">
				<button type="submit" class="btn btn-primary" name="btn_search_customer"
					ng-click="searchCustomer(searchPolicyNumber)" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<h3 align="center">
		<span class="badge badge-secondary">Automatic Payments Set Up</span>
	</h3>
	<div class="container col-md-5" align="center" ng-if="billingInfo.status">
		<div class="alert alert-success" role="alert">
			<label name="lbl_status" for="billingInfo.status">{{billingInfo.status}}</label>
		</div>
	</div>
	<div class="container" align="center">
		<div class="row">
			<div class="col-md-12">

				<nav class="navbar navbar-dark bg-primary" style="height: 5px">
					<div class="navbar-brand" style="color: white" style="height:5px">Billing Information</div>
				</nav>

				<div class="form-row" align="left">
					<table class="table-sm col-md-12">
						<tr>
							<td><label>Policy Number:</label></td>
							<td><label name="lbl_policyNumber">{{billingInfo.policyNumber}}</label></td>
							<td><label>Pay Plan:</label></td>
							<td><label name="lbl_payPlan">{{billingInfo.payPlan}}</label></td>
						</tr>
						<tr>
							<td><label>Payment Due:</label></td>
							<td><label name="lbl_dueAmount">{{billingInfo.dueAmount}}</label></td>
							<td><label>Account Balance:</label></td>
							<td><label name="lbl_accountBalance">{{billingInfo.accountBalance}}</label></td>
						</tr>
						<tr>
							<td><label>First Name:</label></td>
							<td><label name="lbl_firstName">{{billingInfo.firstName}}</label></td>
							<td><label>Last Name:</label></td>
							<td><label name="lbl_lastName">{{billingInfo.lastName}}</label></td>
						</tr>
						<tr>
							<td><label>Billing Address Line:</label></td>
							<td><label name="lbl_addressLine1">{{billingInfo.addressLine1}}</label></td>
							<td><label>Billing City:</label></td>
							<td><label name="lbl_city">{{billingInfo.city}}</label></td>
						</tr>
						<tr>
							<td><label>Billing State:</label></td>
							<td><label name="lbl_state">{{billingInfo.state}}</label></td>
							<td><label>Billing ZipCode:</label></td>
							<td><label name="lbl_zip">{{billingInfo.zip}}</label></td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="container " align="center">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" style="height: 20px"
					name="eftSection">
					<a class="navbar-brand" style="color: white" href="#" data-toggle="collapse" id="eftElements"
						data-target="#navbarTogglerDemo01">Electronic Fund Transfer Authorization</a>
				</nav>
				<form class="needs-validation collapse" id="navbarTogglerDemo01" novalidate>
					<div class="form-group" align="left">
						<table class="table-sm col-md-5	">
							<tr>
								<td><label>Bank Holder Name</label></td>
								<td><input type="text" name="txt_bankHolderName" class="form-control" size="20"
									maxlength="20" placeholder="Bank Holder Name" ng-model="billingInfo.bankHolderName" /></td>
							</tr>
							<tr>
							<tr>
								<td><label>Bank Account Number:</label></td>
								<td><input type="text" name="txt_bankAccountNo" class="form-control" size="20"
									maxlength="20" placeholder="Bank Account Number" ng-model="billingInfo.bankAccountNo" /></td>
							</tr>
							<tr>
								<td><label>Account Type:</label></td>
								<td>
									<div class="radio">
										<label><input type="radio" name="txt_accountType"
											ng-model="billingInfo.accountType" ng-value="'Savings'">Savings</label>
									</div>
									<div class="radio">
										<label><input type="radio" name="txt_accountType"
											ng-model="billingInfo.accountType" ng-value="'Checking'">Checking</label>
									</div>
								</td>
							</tr>
							<tr>
								<td><label>Routing No:</label></td>
								<td><input type="text" name="txt_bankRoutingNo " class="form-control" size="20"
									maxlength="20" placeholder="Routing No" ng-model="billingInfo.bankRoutingNo"
									ng-blur="getBankName(billingInfo.bankRoutingNo)"></td>
							</tr>
							<tr>
								<td><label>Bank Name:</label></td>
								<td><input type="text" name="txt_bankName" class="form-control" size="20"
									maxlength="20" placeholder="Bank Name" ng-model="billingInfo.bankName" readonly="readonly" /></td>
							</tr>
							<tr>
						</table>
						<div class="col-lg-7" align="center">
							<button type="submit" name="btn_sendEFTPayment" class="btn btn-primary"
								ng-click="sendEFTPayment(billingInfo)">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<p></p>
	<div class="container " align="center">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" style="height: 20px"
					name="cardSection">
					<a class="navbar-brand" style="color: white" href="#" id="cardElements" data-toggle="collapse"
						data-target="#navbarTogglerDemo02">Credit/Debit Card Authorization</a>
				</nav>
				<form class="needs-validation collapse" novalidate id="navbarTogglerDemo02">
					<div class="form-group " align="left">
						<table class="table-sm col-md-5">
							<tr>
								<td><label>Card Holder Name:</label></td>
								<td><input type="text" name="txt_cardHolderName" class="form-control" size="20"
									maxlength="20" placeholder="Card Holder Name" ng-model="billingInfo.cardHolderName" /></td>
							</tr>
							<tr>
								<td><label>Credit/Debit Card Number:</label></td>
								<td><input type="text" name="txt_cardNo" class="form-control" size="20" maxlength="20"
									placeholder="Card Number" ng-model="billingInfo.cardNo"></td>
							</tr>
							<tr>
								<td><label>Expiration Date:</label></td>
								<td><input type="txt" name="txt_expirationDate" class="form-control" size="20"
									maxlength="20" placeholder="MM/YYYY" ng-model="billingInfo.expirationDate" /></td>
							</tr>
							<tr>
								<td><label>Card Holder ZipCode:</label></td>
								<td><input type="text" name="txt_cardZip" class="form-control" size="20" maxlength="20"
									placeholder="Card ZipCode" ng-model="billingInfo.cardZip"></td>
							</tr>
						</table>
						<div class="col-lg-7" align="center">
							<button type="submit" name="btn_sendCardPayment" class="btn btn-primary"
								ng-click="sendCardPayment(billingInfo)">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>